<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Author page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table>
		<tr>
			<td th:text="${author.firstName}"/>
			<td th:text="${author.secondName}"/>
			<td th:text="${author.birthDate}"/>
		</tr>
	</table>
</body>
</html>
