<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>All available books</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table>
		<tr th:each="book : ${books}">
			<td th:text="${book.book.name}"/>
			<td th:text="${book.book.isbn}"/>
			<td th:text="${book.book.language}"/>
			<td th:text="${book.book.publicationDate}"/>
			<td th:text="${book.book.amount}"/>
			<td th:text="${book.book.price}"/>
			<td>
				<table>
					<tr th:each="author : ${book.authors}">
							<td th:text="${author.firstName}"/>
							<td th:text="${author.secondName}"/>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>
